/* Reset */
* {
  margin: 0;
  align-items: center;       
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;  
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Block */
.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 16px;
  transition: transform 0.3s ease;
}

/* Block Modifier */
.card--featured {
  border: 2px solid purple;
}

/* Elements */
.card__image {
  width: 100%;
  border-radius: 8px;
}

.card__title {
  font-size: 20px;
  margin: 12px 0 8px;
}

.card__description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.card__button {
  padding: 8px 12px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.card__button:focus {
    background-color: blue;
}
.card__button:active{
 transform: scale(0.95);
}


/* Hover */
.card:hover {
  transform: translateY(-5px);
}

.card__button:hover {
  background-color: darkmagenta;
}